1. merge csvs
2. group by author
3.

## Merge Datasets

In [219]:
import pandas as pd
from pathlib import Path
pathdir = Path("../data")                 #use this to set relative path to .txt files if they are not in cwd
      
pathlist = sorted(pathdir.glob('docdata_*.csv')) 
datalist = []                           #creates an empty list
for i, path in enumerate(pathlist):
    df = pd.read_csv(path, index_col=[0])
    print("Reading & appending file number:", i, "(with %s rows) of" %df.shape[0], len(pathlist), "total files. Pathname: ", path.stem)
    datalist.append(df)    ## appends each imported dataframe into a list of dataframes
    
data = pd.concat(datalist)        #concatenates or joins each dataframe in datalist into one dataframe

Reading & appending file number: 0 (with 580 rows) of 62 total files. Pathname:  docdata_0-5
Reading & appending file number: 1 (with 5013 rows) of 62 total files. Pathname:  docdata_0-50
Reading & appending file number: 2 (with 3907 rows) of 62 total files. Pathname:  docdata_100-150
Reading & appending file number: 3 (with 4044 rows) of 62 total files. Pathname:  docdata_1000-1050
Reading & appending file number: 4 (with 3527 rows) of 62 total files. Pathname:  docdata_1050-1100
Reading & appending file number: 5 (with 3365 rows) of 62 total files. Pathname:  docdata_1100-1150
Reading & appending file number: 6 (with 3067 rows) of 62 total files. Pathname:  docdata_1150-1200
Reading & appending file number: 7 (with 2374 rows) of 62 total files. Pathname:  docdata_1200-1250
Reading & appending file number: 8 (with 3805 rows) of 62 total files. Pathname:  docdata_1250-1300
Reading & appending file number: 9 (with 2877 rows) of 62 total files. Pathname:  docdata_1300-1350
Reading & appending file number: 10 (with 3842 rows) of 62 total files. Pathname:  docdata_1350-1400
Reading & appending file number: 11 (with 3147 rows) of 62 total files. Pathname:  docdata_1400-1450
Reading & appending file number: 12 (with 3304 rows) of 62 total files. Pathname:  docdata_1450-1500
Reading & appending file number: 13 (with 3111 rows) of 62 total files. Pathname:  docdata_150-200
Reading & appending file number: 14 (with 3286 rows) of 62 total files. Pathname:  docdata_1500-1550
Reading & appending file number: 15 (with 2635 rows) of 62 total files. Pathname:  docdata_1550-1600
Reading & appending file number: 16 (with 3610 rows) of 62 total files. Pathname:  docdata_1600-1650
Reading & appending file number: 17 (with 1823 rows) of 62 total files. Pathname:  docdata_1650-1700
Reading & appending file number: 18 (with 2456 rows) of 62 total files. Pathname:  docdata_1700-1750
Reading & appending file number: 19 (with 3853 rows) of 62 total files. Pathname:  docdata_1750-1800
Reading & appending file number: 20 (with 3243 rows) of 62 total files. Pathname:  docdata_1800-1850
Reading & appending file number: 21 (with 3085 rows) of 62 total files. Pathname:  docdata_1850-1900
Reading & appending file number: 22 (with 1658 rows) of 62 total files. Pathname:  docdata_1900-1950
Reading & appending file number: 23 (with 3687 rows) of 62 total files. Pathname:  docdata_1950-2000
Reading & appending file number: 24 (with 3686 rows) of 62 total files. Pathname:  docdata_200-250
Reading & appending file number: 25 (with 2731 rows) of 62 total files. Pathname:  docdata_2000-2050
Reading & appending file number: 26 (with 3727 rows) of 62 total files. Pathname:  docdata_2050-2100
Reading & appending file number: 27 (with 2458 rows) of 62 total files. Pathname:  docdata_2100-2150
Reading & appending file number: 28 (with 2667 rows) of 62 total files. Pathname:  docdata_2150-2200
Reading & appending file number: 29 (with 2892 rows) of 62 total files. Pathname:  docdata_2200-2250
Reading & appending file number: 30 (with 2025 rows) of 62 total files. Pathname:  docdata_2250-2300
Reading & appending file number: 31 (with 4195 rows) of 62 total files. Pathname:  docdata_2300-2350
Reading & appending file number: 32 (with 2233 rows) of 62 total files. Pathname:  docdata_2350-2400
Reading & appending file number: 33 (with 3717 rows) of 62 total files. Pathname:  docdata_2400-2450
Reading & appending file number: 34 (with 2251 rows) of 62 total files. Pathname:  docdata_2450-2500
Reading & appending file number: 35 (with 4272 rows) of 62 total files. Pathname:  docdata_250-300
Reading & appending file number: 36 (with 3763 rows) of 62 total files. Pathname:  docdata_2500-2550
Reading & appending file number: 37 (with 2534 rows) of 62 total files. Pathname:  docdata_2550-2600
Reading & appending file number: 38 (with 3074 rows) of 62 total files. Pathname:  docdata_2600-2650
Reading & appending file number: 39 (with 3453 rows) of 62 total files. Pathname:  docdata_2650-2700
Reading & appending file number: 40 (with 1619 rows) of 62 total files. Pathname:  docdata_2700-2750
Reading & appending file number: 41 (with 2983 rows) of 62 total files. Pathname:  docdata_2750-2800
Reading & appending file number: 42 (with 2273 rows) of 62 total files. Pathname:  docdata_2800-2850
Reading & appending file number: 43 (with 2545 rows) of 62 total files. Pathname:  docdata_2850-2900
Reading & appending file number: 44 (with 3671 rows) of 62 total files. Pathname:  docdata_2900-2950
Reading & appending file number: 45 (with 1971 rows) of 62 total files. Pathname:  docdata_2950-3000
Reading & appending file number: 46 (with 2694 rows) of 62 total files. Pathname:  docdata_300-350
Reading & appending file number: 47 (with 3911 rows) of 62 total files. Pathname:  docdata_350-400
Reading & appending file number: 48 (with 3896 rows) of 62 total files. Pathname:  docdata_400-450
Reading & appending file number: 49 (with 3280 rows) of 62 total files. Pathname:  docdata_450-500
Reading & appending file number: 50 (with 3717 rows) of 62 total files. Pathname:  docdata_50-100
Reading & appending file number: 51 (with 4121 rows) of 62 total files. Pathname:  docdata_500-550
Reading & appending file number: 52 (with 4050 rows) of 62 total files. Pathname:  docdata_550-600
Reading & appending file number: 53 (with 3546 rows) of 62 total files. Pathname:  docdata_600-650
Reading & appending file number: 54 (with 3314 rows) of 62 total files. Pathname:  docdata_650-700
Reading & appending file number: 55 (with 3751 rows) of 62 total files. Pathname:  docdata_700-750
Reading & appending file number: 56 (with 4503 rows) of 62 total files. Pathname:  docdata_750-800
Reading & appending file number: 57 (with 3865 rows) of 62 total files. Pathname:  docdata_800-850
Reading & appending file number: 58 (with 3233 rows) of 62 total files. Pathname:  docdata_850-900
Reading & appending file number: 59 (with 3325 rows) of 62 total files. Pathname:  docdata_900-950
Reading & appending file number: 60 (with 3751 rows) of 62 total files. Pathname:  docdata_950-1000
Reading & appending file number: 61 (with 194996 rows) of 62 total files. Pathname:  docdata_all

C:\Users\F0040RP\AppData\Local\Temp\ipykernel_34892\818437163.py:8: DtypeWarning: Columns (10,13,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path, index_col=[0])

In [220]:
data['toomany_orno_matches'] = data['toomany_orno_matches'].fillna(False)
data['toomany_orno_matches'].apply(type)

C:\Users\F0040RP\AppData\Local\Temp\ipykernel_34892\3705558385.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['toomany_orno_matches'] = data['toomany_orno_matches'].fillna(False)

0      <class 'bool'>
0      <class 'bool'>
0      <class 'bool'>
0      <class 'bool'>
0      <class 'bool'>
            ...
997    <class 'bool'>
997    <class 'bool'>
997    <class 'bool'>
998    <class 'bool'>
999    <class 'bool'>
Name: toomany_orno_matches, Length: 389992, dtype: object

In [222]:
data_nomatches = data.loc[data['toomany_orno_matches']]

In [191]:
data.iloc[:, 16:]

,doc_doi,doc_issn,doc_eissn,so_title,au_keywords,pubyear,citedby_count,toomany_orno_matches
0,NaN,0002-9939,NaN,PROCEEDINGS OF THE AMERICAN MATHEMATICAL SOCIETY,[],1979.0,0.0,NaN
0,10.1109/TCS.1981.1084993,0098-4094,NaN,IEEE TRANSACTIONS ON CIRCUITS AND SYSTEMS,[],1981.0,274.0,NaN
0,10.2140/pjm.1982.103.251,0030-8730,NaN,PACIFIC JOURNAL OF MATHEMATICS,[],1982.0,5.0,NaN
0,NaN,0017-0097,NaN,GIORNALE DEGLI ECONOMISTI E ANNALI DI ECONOMIA,[],1983.0,0.0,NaN
0,NaN,0017-0097,NaN,GIORNALE DEGLI ECONOMISTI E ANNALI DI ECONOMIA,[],1985.0,0.0,NaN
...,...,...,...,...,...,...,...,...
997,10.1093/bjs/znad382.038,0007-1323,1365-2168,BRITISH JOURNAL OF SURGERY,[],2023.0,0.0,False
997,10.1097/XEB.0000000000000387,2691-3321,NaN,JBI EVIDENCE IMPLEMENTATION,"['evidence-based practice', 'implementation sc...",2023.0,0.0,False
997,10.1016/j.worlddev.2023.106502,0305-750X,1873-5991,WORLD DEVELOPMENT,"['Coproduction', 'Indigenous women', 'Wichi', ...",2024.0,0.0,False
998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True

In [192]:
data.columns

Index(['Ranking', 'University Name', 'Name', 'Position', 'URL',
       'hosting domain', 'lastname', 'firstnames', 'firstinits', 'suffix',
       'reordered_name', 'doclists', 'too_many_matches', 'match_name', 'resID',
       'doc_uid', 'doc_doi', 'doc_issn', 'doc_eissn', 'so_title',
       'au_keywords', 'pubyear', 'citedby_count', 'toomany_orno_matches'],
      dtype='object')

In [206]:
data.to_csv("../data/docdata_all.csv", encoding = 'utf-8')

In [193]:
from collections import Counter
import ast

def most_freq(l: list, freq_num: int):
    freqct = Counter(l)
    return freqct.most_common(freq_num)

def flatten2(l: list, freq_num: int):
    flattened_list = [item for row in l for item in ast.literal_eval(row)]
    freqct = Counter(flattened_list)
    return freqct.most_common(freq_num)

In [194]:
"['antimony', 'antimony pollution', 'bioaccumulation', 'mushrooms', 'fungi', 'Suillus', 'Chalciporus']"[0]

'['

In [195]:
data_byauthor = data.groupby(["resID"]).agg({'resID': "first",'Ranking': "first", 'University Name': "first", 'Name': "first", 'Position': "first", 'URL': "first",
       'lastname': "first", 'firstnames': "first", 'firstinits': "first", 'suffix': "first",
       'reordered_name': "first", 'match_name': "first", 
       'doc_uid': lambda x: list(x), 'so_title': lambda x: most_freq(x, 3),
       'au_keywords': lambda x: flatten2(x, 8), 'pubyear': ["min", "max"], 'citedby_count': ["min", "max"],'toomany_orno_matches': "first"})

In [207]:
print(data_byauthor.shape)
data_byauthor.head()

(14379, 20)

,resID,Ranking,University Name,Name,Position,URL,lastname,firstnames,firstinits,suffix,reordered_name,match_name,doc_uid,so_title,au_keywords,pubyear_min,pubyear_max,citedby_count_min,citedby_count_max,toomany_orno_matches
resID,,,,,,,,,,,,,,,,,,,,
A-1022-2008,A-1022-2008,9,New York University,Jaroslav Borovicka,Assistant Professor,http://www.borovicka.org/,Borovicka,Jaroslav,J,None,"Borovicka, J","Borovicka, J","[WOS:000231924700012, WOS:000240934200005, WOS...","[(MYCOLOGICAL PROGRESS, 9), (SCIENCE OF THE TO...","[(Fungi, 13), (taxonomy, 7), (Phylogeny, 5), (...",2005.0,2024.0,0.0,284.0,False
A-1061-2007,A-1061-2007,6,University of Pennsylvania,George J. Mailath,Professor,http://web.sas.upenn.edu/gmailath/,Mailath,George J.,GJ,None,"Mailath, GJ","MAILATH, GJ","[WOS:A1987H935400007, WOS:A1987M272400005, WOS...","[(JOURNAL OF ECONOMIC THEORY, 11), (REVIEW OF ...","[(repeated games, 4), (reputation, 2), (imperf...",1987.0,2023.0,0.0,1132.0,None
A-1092-2007,A-1092-2007,30,"University of Minnesota, Twin Cities",Christopher Phelan,Professor,https://sites.Google site.com/a/umn.edu/christ...,Phelan,Christopher,C,None,"Phelan, C","Phelan, C","[WOS:000240526700009, WOS:000259585700004, WOS...","[(GENES & DEVELOPMENT, 1), (MOLECULAR ENDOCRIN...","[(AKAP, 1), (aurora, 1), (HDAC, 1), (histone c...",2006.0,2021.0,3.0,141.0,False
A-1338-2011,A-1338-2011,37,Barcelona Graduate School of Economics,Abhay Abhyankar,Professor,http://business-school.exeter.ac.uk/about/peop...,Abhyankar,Abhay,A,None,"Abhyankar, A","Abhyankar, A","[WOS:000223530300003, WOS:000226247500030, WOS...","[(JOURNAL OF CLINICAL IMMUNOLOGY, 5), (PLOS ON...","[(whole genome sequencing, 2), (genome sequenc...",2004.0,2023.0,0.0,581.0,False
A-1349-2008,A-1349-2008,17,Univeristy of Toronto,Victor Aguirregabiria,Professor,http://individual.utoronto.ca/vaguirre/,Aguirregabiria,Victor,V,None,"Aguirregabiria, V","Aguirregabiria, V","[WOS:000080445600003, WOS:000166585300003, WOS...","[(ECONOMICS LETTERS, 3), (JOURNAL OF ECONOMETR...","[(Identification, 4), (multiple equilibria, 3)...",1999.0,2023.0,0.0,268.0,False

In [197]:
data_byauthor.iloc[:, 14]

resID
A-1022-2008    [(Fungi, 13), (taxonomy, 7), (Phylogeny, 5), (...
A-1061-2007    [(repeated games, 4), (reputation, 2), (imperf...
A-1092-2007    [(AKAP, 1), (aurora, 1), (HDAC, 1), (histone c...
A-1338-2011    [(whole genome sequencing, 2), (genome sequenc...
A-1349-2008    [(Identification, 4), (multiple equilibria, 3)...
                                     ...
Y-2448-2019    [(R&D, 4), (productivity, 4), (uncertainty, 3)...
Y-4724-2019    [(EBSD, 2), (Martensitic transformation, 2), (...
Y-6143-2018    [(Pyrolysis, 2), (Epoxy resin, 1), (Oxidation,...
Z-4634-2019    [(Regime change, 1), (Global games, 1), (Netwo...
Z-5491-2019    [(Depression, 7), (5-HT1A receptor, 7), (5-HT1...
Name: (au_keywords, <lambda>), Length: 14379, dtype: object

In [198]:
#data_byauthor.columns = data_byauthor.columns.get_level_values(0)
#data_byauthor.columns = [' '.join(col).strip() for col in data_byauthor.columns.values]
#data_byauthor.columns

In [199]:
data_byauthor.columns = data_byauthor.columns.to_flat_index()
#data_byauthor.columns = ["_".join(a) for a in data_byauthor.columns.to_flat_index()]

data_byauthor.columns

Index([               ('resID', 'first'),              ('Ranking', 'first'),
            ('University Name', 'first'),                 ('Name', 'first'),
                   ('Position', 'first'),                  ('URL', 'first'),
                   ('lastname', 'first'),           ('firstnames', 'first'),
                 ('firstinits', 'first'),               ('suffix', 'first'),
             ('reordered_name', 'first'),           ('match_name', 'first'),
                 ('doc_uid', '<lambda>'),          ('so_title', '<lambda>'),
             ('au_keywords', '<lambda>'),                ('pubyear', 'min'),
                      ('pubyear', 'max'),          ('citedby_count', 'min'),
                ('citedby_count', 'max'), ('toomany_orno_matches', 'first')],
      dtype='object')

In [203]:
data_byauthor.columns = ["_".join(a) if a[1] in ["max", "min"] else a[0] for a in data_byauthor.columns]
data_byauthor.columns

Index(['resID', 'Ranking', 'University Name', 'Name', 'Position', 'URL',
       'lastname', 'firstnames', 'firstinits', 'suffix', 'reordered_name',
       'match_name', 'doc_uid', 'so_title', 'au_keywords', 'pubyear_min',
       'pubyear_max', 'citedby_count_min', 'citedby_count_max',
       'toomany_orno_matches'],
      dtype='object')

In [224]:
data_nomatches.columns

Index(['Ranking', 'University Name', 'Name', 'Position', 'URL',
       'hosting domain', 'lastname', 'firstnames', 'firstinits', 'suffix',
       'reordered_name', 'doclists', 'too_many_matches', 'match_name', 'resID',
       'doc_uid', 'doc_doi', 'doc_issn', 'doc_eissn', 'so_title',
       'au_keywords', 'pubyear', 'citedby_count', 'toomany_orno_matches'],
      dtype='object')

In [228]:
print(data_byauthor.shape)
print(data_nomatches.shape)
data_byauthor2 = pd.concat([data_byauthor, data_nomatches])
data_byauthor2.shape

(14379, 20)
(1576, 24)

(15955, 28)

In [229]:
data_byauthor2.to_csv("../data/authordata_ids_checkmatches.csv", encoding = 'utf-8')