# WoS Notebook 01

# Merge Multiple Exported Files from the Web of Science

## Importing text files exported from Web of Science Database and Compiling them into a single dataset (and saving as a .csv)

If you used the Web of Science online database - and your results exceeded 500 records - you will have downloaded multiple tab-delimited files (our recommended export format). After placing all exported tab-delimited files into one common folder, you can use this notebook to merge these files into one .csv file.

## 0. Setup

### Import required packages

In [6]:
from pathlib import Path   #for working with filepaths
import pandas as pd        #for creating and working with dataframes

### Set path to directory containing WoS Text Files

In [7]:
#check your current working directory
Path.cwd()

WindowsPath('c:/Users/F0040RP/Documents/DartLib_RDS/projects/bibliometrics/bibliometrics-analysis/wos/notebooks')

In [8]:
#pathdir = Path.cwd()                        #use this if tsv .txt files are in current working directory
pathdir = Path("../data/resilience/orig_txt")                 #use this to set relative path to .txt files if they are not in cwd

# get a list of relative paths to all ".txt" files in pathdir       
pathlist = sorted(pathdir.glob('*.txt'))    
[path.name for path in pathlist]

['resilience1001-1500.txt',
 'resilience1501-2000.txt',
 'resilience1_500.txt',
 'resilience2001-2500.txt',
 'resilience2501-3000.txt',
 'resilience501-1000.txt']

### Import Data 

Read in tab-separated-value text files and combine into one dataframe

In [9]:
datalist = []                           #creates an empty list
for i, path in enumerate(pathlist):
    df = pd.read_csv(path, sep = "\t")
    print("Reading & appending file number:",
          i,
          "(with %s rows) of" %df.shape[0], len(pathlist),
          "total files. Pathname: ",
          path.stem
          )
    datalist.append(df)    ## appends each imported dataframe into a list of dataframes
    
data = pd.concat(datalist)        #concatenates or joins each dataframe in datalist into one dataframe

Reading & appending file number: 0 (with 500 rows) of 6 total files. Pathname:  resilience1001-1500
Reading & appending file number: 1 (with 500 rows) of 6 total files. Pathname:  resilience1501-2000
Reading & appending file number: 2 (with 500 rows) of 6 total files. Pathname:  resilience1_500
Reading & appending file number: 3 (with 500 rows) of 6 total files. Pathname:  resilience2001-2500
Reading & appending file number: 4 (with 500 rows) of 6 total files. Pathname:  resilience2501-3000
Reading & appending file number: 5 (with 500 rows) of 6 total files. Pathname:  resilience501-1000

## 1. Get summary data

In [10]:
print(data.shape)
data.head(3)

(3000, 71)

,PT,AU,BA,BE,GP,AF,BF,CA,TI,SO,...,WC,WE,SC,GA,PM,OA,HC,HP,DA,UT
0,J,"Jiang, YW; Ritchie, BW; Verreynne, ML",NaN,NaN,NaN,"Jiang, Yawei; Ritchie, Brent W.; Verreynne, Ma...",NaN,NaN,Developing disaster resilience: A processual a...,TOURISM MANAGEMENT,...,"Environmental Studies; Hospitality, Leisure, S...",Social Science Citation Index (SSCI),Environmental Sciences & Ecology; Social Scien...,WQ3JE,NaN,NaN,NaN,NaN,2023-08-03,WOS:000713714900002
1,J,"Nystrom, M; Graham, NAJ; Lokrantz, J; Norstrom...",NaN,NaN,NaN,"Nystrom, M.; Graham, N. A. J.; Lokrantz, J.; N...",NaN,NaN,Capturing the cornerstones of coral reef resil...,CORAL REEFS,...,Marine & Freshwater Biology,Science Citation Index Expanded (SCI-EXPANDED),Marine & Freshwater Biology,368JC,NaN,NaN,NaN,NaN,2023-08-03,WOS:000260616400011
2,J,"Cassidy, S",NaN,NaN,NaN,"Cassidy, Simon",NaN,NaN,The Academic Resilience Scale (ARS-30): A New ...,FRONTIERS IN PSYCHOLOGY,...,"Psychology, Multidisciplinary",Social Science Citation Index (SSCI),Psychology,EC3JI,27917137.0,"Green Published, gold",NaN,NaN,2023-08-03,WOS:000388022000001

In [11]:
data.info()
# can also try:
## data.describe()
## data.tail()

<class 'pandas.core.frame.DataFrame'>
Index: 3000 entries, 0 to 499
Data columns (total 71 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PT      3000 non-null   object
 1   AU      3000 non-null   object
 2   BA      21 non-null     object
 3   BE      389 non-null    object
 4   GP      107 non-null    object
 5   AF      3000 non-null   object
 6   BF      21 non-null     object
 7   CA      7 non-null      object
 8   TI      3000 non-null   object
 9   SO      3000 non-null   object
 10  SE      320 non-null    object
 11  BS      0 non-null      float64
 12  LA      3000 non-null   object
 13  DT      3000 non-null   object
 14  CT      475 non-null    object
 15  CY      475 non-null    object
 16  CL      475 non-null    object
 17  SP      309 non-null    object
 18  HO      107 non-null    object
 19  DE      2987 non-null   object
 20  ID      2382 non-null   object
 21  AB      3000 non-null   object
 22  C1      2972 non-null   object
 23  C3      2811 non-null   object
 24  RP      2909 non-null   object
 25  EM      2799 non-null   object
 26  RI      1521 non-null   object
 27  OI      1928 non-null   object
 28  FU      1297 non-null   object
 29  FP      1294 non-null   object
 30  FX      1272 non-null   object
 31  CR      2980 non-null   object
 32  NR      3000 non-null   int64
 33  TC      3000 non-null   int64
 34  Z9      3000 non-null   int64
 35  U1      3000 non-null   int64
 36  U2      3000 non-null   int64
 37  PU      3000 non-null   object
 38  PI      3000 non-null   object
 39  PA      3000 non-null   object
 40  SN      2560 non-null   object
 41  EI      2103 non-null   object
 42  BN      408 non-null    object
 43  J9      2803 non-null   object
 44  JI      2509 non-null   object
 45  PD      2007 non-null   object
 46  PY      3000 non-null   int64
 47  VL      2553 non-null   object
 48  IS      1832 non-null   object
 49  PN      21 non-null     object
 50  SU      25 non-null     object
 51  SI      245 non-null    object
 52  MA      0 non-null      float64
 53  BP      2191 non-null   object
 54  EP      2191 non-null   object
 55  AR      703 non-null    object
 56  DI      2652 non-null   object
 57  DL      2652 non-null   object
 58  D2      71 non-null     object
 59  EA      567 non-null    object
 60  PG      3000 non-null   int64
 61  WC      2994 non-null   object
 62  WE      3000 non-null   object
 63  SC      2994 non-null   object
 64  GA      3000 non-null   object
 65  PM      663 non-null    float64
 66  OA      1338 non-null   object
 67  HC      59 non-null     object
 68  HP      59 non-null     object
 69  DA      3000 non-null   object
 70  UT      3000 non-null   object
dtypes: float64(3), int64(7), object(61)
memory usage: 1.6+ MB

## 2. Export full dataframe into a .csv file

Skip to step #3 if you only want to export a subsetted version of the dataset.

In [12]:
outputdir = Path("../data/resilience/merged")
data.to_csv(Path(outputdir,"merged_wos_files.csv"), encoding = "utf-8")

## 3. Subset dataframe and then export

Often, the Web of Science database provides more data fields than we need. We can work with a smaller version of the dataset by only keeping those columns we really want.

In [13]:
data.columns

Index(['PT', 'AU', 'BA', 'BE', 'GP', 'AF', 'BF', 'CA', 'TI', 'SO', 'SE', 'BS',
       'LA', 'DT', 'CT', 'CY', 'CL', 'SP', 'HO', 'DE', 'ID', 'AB', 'C1', 'C3',
       'RP', 'EM', 'RI', 'OI', 'FU', 'FP', 'FX', 'CR', 'NR', 'TC', 'Z9', 'U1',
       'U2', 'PU', 'PI', 'PA', 'SN', 'EI', 'BN', 'J9', 'JI', 'PD', 'PY', 'VL',
       'IS', 'PN', 'SU', 'SI', 'MA', 'BP', 'EP', 'AR', 'DI', 'DL', 'D2', 'EA',
       'PG', 'WC', 'WE', 'SC', 'GA', 'PM', 'OA', 'HC', 'HP', 'DA', 'UT'],
      dtype='object')

Review the data fields (columns in this case) available for Web of Science data. You can see a [full List of WoS data fields here.](https://docs.google.com/spreadsheets/d/1KPNVIrhwZJrqYOsu3jzpRF7pzHCjRVy6K8eu3qTu-cA/edit#gid=1397269035) 

Then, choose which columns you would like to keep by placing the two-letter column name in the list below.

*Place this information somewhere public so I don't have to link to an institutional drive!!*

In [14]:
cols_to_keep = ["PT", #pub type
                "AU", "AF", #author / author full names
                "TI",  #author title
                "SO",  #source title
                "LA",  #language
                "DT",   #document type
                "DE", "ID",  #author keywords / keywords plus
                "AB",      #abstract
                "RI", "OI",  #research ids / ORCIDs
                "CR", #cited references
                "TC", "Z9", "U1", "U2", #times cited (WoS core) / times cited, all / 180 days usage ct / since 2013 usage count
                "HC", "HP", #highly cited status / hot paper status
                "PU",  #publisher
                "SN", "EI", "BN", "DI", "UT",   #ISSN / eISSN / ISBN / DOI / WoS id
                "JI", #journal ISO abbreviation
                "PD", "PY",   #pub data / pub year
                "WC", "SC"  #WoS Categories / Research Areas
                ]

Next, we can create a new dataframe ("subdata") with only the columns we want.

In [15]:
subdata = data.loc[:, cols_to_keep]
print(subdata.shape)   #print the new dimensions of the dataframe
subdata.head(2)

(3000, 30)

,PT,AU,AF,TI,SO,LA,DT,DE,ID,AB,...,SN,EI,BN,DI,UT,JI,PD,PY,WC,SC
0,J,"Jiang, YW; Ritchie, BW; Verreynne, ML","Jiang, Yawei; Ritchie, Brent W.; Verreynne, Ma...",Developing disaster resilience: A processual a...,TOURISM MANAGEMENT,English,Article,Disaster resilience; Dynamic capabilities; Res...,LONGITUDINAL-FIELD RESEARCH; ORGANIZATIONAL RE...,This study takes a processual view of resilien...,...,0261-5177,1879-3193,NaN,10.1016/j.tourman.2021.104374,WOS:000713714900002,Tourism Manage.,DEC,2021,"Environmental Studies; Hospitality, Leisure, S...",Environmental Sciences & Ecology; Social Scien...
1,J,"Nystrom, M; Graham, NAJ; Lokrantz, J; Norstrom...","Nystrom, M.; Graham, N. A. J.; Lokrantz, J.; N...",Capturing the cornerstones of coral reef resil...,CORAL REEFS,English,Review,Diversity; Functional groups; Management; Phas...,GREAT-BARRIER-REEF; CATASTROPHIC REGIME SHIFTS...,Coral reefs can undergo unexpected and dramati...,...,0722-4028,1432-0975,NaN,10.1007/s00338-008-0426-z,WOS:000260616400011,Coral Reefs,DEC,2008,Marine & Freshwater Biology,Marine & Freshwater Biology

Since the initials for the column headers require constant review of the WoS documentation (see link above), it may be helpful to rename some key columns:

In [ ]:
# create dictionary to rename columns, format: old_colname: new_colname
new_colnames = {
    "AU": "author",
    "PY": "pub_year",
    "TI": "title",
    "SO": "so_title",
    "LA": "language",
    "DT": "doc_type",
    "DE": "au_keywords",
    "ID": "keywords_plus",
    "AB": "abstract",
    "RI": "res_ids",
    "OI": "ORCID",
    "CR":  "cited_references",
    "TC": "times_cited_wos",
    "Z9": "times_cited_all",
    "U1": "usage_180days",
    "U2": "usage_since2013",
    "HC": "highly_cited_status",
    "HP": "hot_paper_status", 
    "PU", "publisher",
    "SN": "ISSN",
    "EI": "eISSN",
    "BN": "ISBN",
    "DI": "DOI",
    "UT": "wos_id",
          #ISSN / eISSN / ISBN / DOI / WoS id
                "JI", #journal ISO abbreviation
                "PD", "PY",   #pub data / pub year
                "WC", "SC"  #WoS Categories / Research Areas

}

Export the dataframe to a csv.

In [19]:
subdata.to_csv(Path(outputdir, "merged_wos_subcols.csv"), encoding = 'utf-8')

## 4. Create a random sample and export

In [18]:
rand500 = subdata.sample(n = 500)
rand500.to_csv(Path(outputdir, "merged_wos_rand500.csv"), encoding = 'utf-8')